footer {
  display: flex;
  flex-direction: column;
  min-height: 8vh;
  align-items: center;
  border-top: solid;
  border-right: solid;
  border-left: solid;
  border-width: 1px;

  span {
    margin: 8px;
  }

  img {
    max-height: 25px;
  }
}

.large-footer {
  margin: 0px 20vw;
}

.medium-footer {
  margin: 0px 10vw;
}

.small-footer {
  margin: 0px 5vw;
}

.compact-footer {
  border-right: none;
  border-left: none;
  margin: 0px 0px;
}
