header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  a {
    text-decoration: none;
    color: inherit;
  }

  nav a {
    margin: 1.5vw;
  }

  a:hover {
    text-decoration: underline;
  }

  .header-logo-title {
    display: flex;
    align-items: center;

    img {
      max-height: 100px;
    }

    & > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
