.profile-section {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 15px;

  div:last-child {
    border-bottom: none;
  }
}

.profile-info {
  margin: 0px 20px;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightblue;

  span {
    justify-self: center;
    align-self: center;
  }
}
